.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 70px;
  background-color: rgb(220, 174, 189);
}
.img {
  height: 40px;
  width: 35px;
  justify-self: flex-start;
}
.navlink a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding-left: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  margin-top: 0px;
}
ul li {
  text-align: center;
}
ul a{
  text-decoration: none;
  color: black;
}
.addcart_profile {
  display: flex;
}
